<?xml version="1.0"?>
 <config>
    <modules>
        <Ccc_Hardik>
            <version>0.4.0</version>
        </Ccc_Hardik>
    </modules>
    <frontend>
        <routers>
            <hardik>
                <use>standard</use>
                <args>
                    <module>Ccc_Hardik</module>
                    <frontName>hardik</frontName>
                </args>
            </hardik>
        </routers>
        <layout>
            <updates>
                <hardik>
                    <file>hardik.xml</file>
                </hardik>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
        <!-- Includes our controller, so when we add the adminhtml menu item below, it is found! -->
            <adminhtml>
                <args>
                    <modules>
                        <hardik before="Mage_Adminhtml">Ccc_Hardik_Adminhtml</hardik>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <hardik module="hardik">
                <title>Hardik</title>
                <sort_order>71</sort_order>
                <children>
                    <items module="hardik">
                        <title>Manage Student</title>
                        <sort_order>0</sort_order>
                        <action>adminhtml/hardik</action>
                    </items>
                </children>
            </hardik>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <hardik>
                            <title>Hardik Module</title>
                            <sort_order>200</sort_order>
                        </hardik>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <hardik>
                    <file>hardik.xml</file>
                </hardik>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <hardik>
                <class>Ccc_Hardik_Model</class>
                <resourceModel>hardik_resource</resourceModel>
            </hardik>
            <hardik_resource>
                <class>Ccc_Hardik_Model_Resource</class>
                <entities>
                    <hardik>
                        <table>hardik</table>
                    </hardik>
                </entities>
            </hardik_resource>
        </models>
        <resources>
            <hardik_setup>
                <setup>
                    <module>Ccc_Hardik</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </hardik_setup>
            <hardik_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </hardik_write>
            <hardik_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </hardik_read>
        </resources>
        <blocks>
            <hardik>
                <class>Ccc_Hardik_Block</class>
            </hardik>
        </blocks>
        <helpers>
            <hardik>
                <class>Ccc_Hardik_Helper</class>
            </hardik>
        </helpers>
    </global>
 </config>