<?xml version="1.0" ?>
<config>
    <modules>
        <Ccc_Page>
            <version>1.0.0</version>
        </Ccc_Page>
    </modules>
    <admin>
		<routers>
			<page>
				<use>admin</use>
				<args>
					<module>Ccc_Page</module>
                    <frontName>page</frontName>
				</args>
			</page>
		</routers>
	</admin>
    <adminhtml>
        <menu>
            <page module="page">
                <title>Page</title>
                <sort_order>80</sort_order>
                <children>
                    <items module="page">
                        <title>Manage Page</title>
                        <sort_order>0</sort_order>
                        <action>page/adminhtml_page/</action>
                    </items>
                </children>
            </page>
        </menu>   
        <layout>
            <updates>
                <page>
                    <file>page.xml</file>
                </page>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <page>
                <class>Ccc_Page_Helper</class>
            </page>
        </helpers>
        <blocks>
            <page>
                <class>Ccc_Page_Block</class>
            </page>
        </blocks>
        <models>
            <page>
                <class>Ccc_Page_Model</class>
                <resourceModel>page_resource</resourceModel>
            </page>
            <page_resource>
                <class>Ccc_Page_Model_Resource</class>
                <deprecatedNode>page_mysql4</deprecatedNode>
                <entities>
                    <page>
                        <table>page</table>
                    </page>
                </entities>
            </page_resource>
        </models>
    </global>
</config>