<?xml version="1.0" ?>
<config>
    <modules>
        <version>1.0.1</version>
    </modules>
    <admin>
        <routers>
            <salesman>
                <use>admin</use>
                <args>
                    <module>Hd_Salesman</module>
                    <frontName>salesman</frontName>
                </args>
            </salesman>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <salesman module="salesman">
                <title>Salesman</title>
                <sort_order>80</sort_order>
                <children>
                    <items module="salesman">
                        <title>Manage Salesman</title>
                        <sort_order>0</sort_order>
                        <action>salesman/adminhtml_salesman</action>
                    </items>
                </children>
            </salesman>
        </menu>
        <layout>
            <updates>
                <salesman>
                    <file>salesman.xml</file>
                </salesman>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <salesman>
                <class>Hd_Salesman_Helper</class>
            </salesman>
        </helpers>
        <resources>
            <salesman_setup>
                <setup>
                    <module>Hd_Salesman</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </salesman_setup>
            <salesman_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </salesman_write>
            <salesman_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </salesman_read>
        </resources>
    </global>
</config>